.pokemons{
    display: flex;
    padding-inline: 104px;
    gap: 20px;
}

.botaopage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.botaopage button{
    background: transparent;
    border: none;
}
.botaopage p{
    margin: 0;
    font-size: 30px;
}

#lista_pokemons{
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
}

@media(max-width: 450px){
    .pokemons{
        flex-direction: column;
        align-items: center;
    }
    .botaopage{
        flex-direction: row;
    }
}