header{
    display: flex;
    background-color: var(--color-red);
    margin-bottom: 38px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-inline: 104px;
    margin-block: 30px;
    width: 100%;
    flex-wrap: wrap;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.destaque{
    font-size: 25px;
    color: var(--color-yellow);
    -webkit-text-stroke: 1px var(--color-blue);
    font-weight: bold;
}

.icons-menu{
    display: none;
}

@media(max-width: 450px){
   nav{
        justify-content: space-between;
        margin-inline: 50px;
        flex-wrap: wrap;
    }
    .icons-menu img{
        width: 40px;
    }
    .icons-menu{
        display: flex;
    }
    .menu-list {
        list-style: none;
        display: none; /* Oculto por padrão */
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }
    
    .menu-list.open {
        display: flex; /* Exibe o menu quando o estado estiver 'aberto' */
        margin-top: 20px;
    }
    .open{
        display: none;
    }
    
}
