footer{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    background-color: var(--color-white);
    margin-top: 90px;
}
footer div{
    height: 60px;
    background-color: black;
    text-align: center;
}

footer div img{
    position: relative;
    bottom: 100%;
}

footer p{
    text-align: center;
    margin-block-start: 70px;
}

@media(max-width: 450px){
    footer div img{
        width: 20%;
    }
    footer div{
        height: 30px;
    }
}